body {
    padding: 20;
    margin: auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
    text-align: center
}

#meandsam {
    width: 400px;
    height: 400px;
    text-align: center;
}

#pagelinks {
    padding: 20;
    margin-right: 60;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
}
#Message {
    height:200px;
    width:100px;
}
  